@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Bai Jamjuree", sans-serif;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 38vh;
  min-width: 100vw;
  background-image: url("https://cdn.vinybergamo.com/images/casarim/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header-content .logoheader {
  align-items: center;
}

.start-site {
  min-width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.start-site .h1-top {
  text-align: center;
  font-weight: 600;
  font-family: "Bai Jamjuree", sans-serif;
  overflow-y: hidden;
}
.start-site .p-text1 {
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: hsl(201, 11%, 66%);
}

.middle-site {
  min-width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  box-shadow: 4px black;
}
.middle-site .buttons {
  border-radius: 20px;
  width: 200px;
  height: 45px;
}

.meio {
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: 24vh;
  display: flex;
  justify-content: center;
}
.meio .h1-meio {
  text-align: center;
  font-weight: 600;
  font-family: "Bai Jamjuree", sans-serif;
  overflow-y: hidden;
}
.meio .pmeio {
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: hsl(201, 11%, 66%);
}

.container2 {
  display: flex;
  height: 80vh;
  min-width: 100vw;
  overflow-y: hidden;
}

.image-notebook {
  font-family: "Bai Jamjuree", sans-serif;
  width: 50vw;
  height: 75vh;
  background-image: url("https://cdn.vinybergamo.com/images/casarim/computer.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.texts-notebook {
  font-family: "Bai Jamjuree", sans-serif;
  height: 75vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.h5-midle {
  font-weight: 600;
  font-size: 23px;
  text-align: center;
}

.p-midle {
  color: hsl(201, 11%, 66%);
  text-align: center;
}

.container-clipboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 110vh;
  padding-top: 14vh;
}
.container-clipboard .text-clipboard {
  overflow-y: hidden;
}
.container-clipboard .h1-meio {
  text-align: center;
  font-weight: 600;
  font-family: "Bai Jamjuree", sans-serif;
  overflow-y: hidden;
}
.container-clipboard .pmeio {
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: hsl(201, 11%, 66%);
  overflow-y: hidden;
}
.container-clipboard .img-clipboard {
  height: 80vh;
  overflow-y: hidden;
  align-items: center;
  width: 50vw;
  background-image: url("C:஬kup_PC\estudos-OneBitCodeProjetosProjeto-ClipBoard-LandingPage\clipboard-landing-page-masterimagesimage-devices.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.h1-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12vh;
  height: auto;
  width: auto;
}
.h1-down .h1-down1 {
  text-align: center;
  font-weight: 600;
  font-family: "Bai Jamjuree", sans-serif;
  overflow-y: hidden;
}
.h1-down .pdown {
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: hsl(201, 11%, 66%);
  overflow-y: hidden;
}

.container-advantages {
  width: 100vw;
  height: 50vh;
  padding-top: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container-advantages .blacklist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container-advantages .plain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container-advantages .sneak {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logos {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-content {
  background-color: hsl(201, 11%, 66%);
  min-width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
}
.footer-content .logo-links {
  display: flex;
  justify-content: space-between;
  padding-left: 9vw;
  align-items: center;
}
.footer-content .p-footer {
  font-family: hsl(210, 10%, 33%);
  font-weight: 400;
  font-size: 15px;
}
.footer-content .contact-faq {
  padding-left: 6rem;
}
.footer-content .logo-footer {
  width: 50px;
  height: 50px;
  overflow-y: hidden;
}
.footer-content .install, .footer-content .privacy-press {
  padding-left: 10vh;
}
.footer-content .socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40vw;
  gap: 30px;
}

@media screen and (max-width: 763px) {
  * {
    overflow-x: hidden;
  }
  .header-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 68vh;
    min-width: 100vw;
    background-image: url("../../../clipboard-landing-page-master/images/bg-header-mobile.png");
  }
  .header-content .logocima {
    height: 30vh;
  }
  .start-site {
    overflow-y: hidden;
  }
  .start-site .p-text1 {
    font-size: 11px;
    height: auto;
    width: auto;
    padding-bottom: 3vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .start-site .h1-top {
    font-size: 18px;
    padding-bottom: 3vh;
  }
  .buttons-middle {
    display: flex;
    flex-direction: column;
  }
  .middle-site .buttons {
    border-radius: 20px;
    width: 290px;
    height: 50px;
    margin-bottom: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .meio .h1-meio {
    font-size: 18px;
    padding-top: 3vh;
  }
  .meio .pmeio {
    font-size: 11px;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    overflow-y: hidden;
  }
  .container2 .h5-midle {
    font-size: 14px;
  }
  .container2 .p-midle {
    font-size: 11px;
    overflow-y: hidden;
    height: 15vh;
  }
  .container2 .texts-notebook {
    height: auto;
    align-items: center;
    padding-top: 9vh;
    margin-right: 12vh;
  }
  .container2 .one-midle {
    height: 50vh;
    overflow-y: hidden;
    padding-bottom: 12vh;
  }
  .container2 .secon-midle {
    height: 50vh;
    overflow-y: hidden;
    padding-bottom: 9vh;
  }
  .container2 .third-midle {
    height: 50vh;
    overflow-y: hidden;
  }
  .container-clipboard .h1-meio {
    font-size: 18px;
  }
  .container-clipboard .pmeio {
    font-size: 11px;
  }
  .container-clipboard {
    height: 70vh;
  }
}
@media screen and (min-width: 763px) and (max-width: 1023px) {
  .header-section {
    background-image: url("../../images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
@media screen and (min-width: 1023px) {
  .footer-content {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
