@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

$fonte1 : 'Bai Jamjuree', sans-serif;

$StrongCyan: hsl(171, 66%, 44%);
$LightBlue: hsl(233, 100%, 69%);
$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 45vh;
    min-width: 100vw;
    background-image: url('../images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .logoheader{
        align-items: center;
    }
   
}
.start-site{
min-width: 100vw;
height: 20vh;
display: flex;
justify-content: center;
flex-direction: column;


.h1-top{
    text-align: center;
    font-weight: 600;
    font-family: $fonte1;
    text-shadow: 6px red;
}

.p-text1{
    text-align: center;
    font-family: $fonte1;
    font-weight: 400;
    font-size: 18px;
    color: $GrayishBlue;
    
}}

.middle-site{
    min-width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    box-shadow: 4px black;
   .buttons{
    border-radius: 20px;
    width: 200px;
    height: 45px;
    
   }
}