
///RESPONSIVE-SMARTPHONE
@media screen and (max-width:763px){

    *{
        overflow-x: hidden;
        
    }
    .header-content{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 68vh;
        min-width: 100vw;
        background-image: url('https://cdn.vinybergamo.com/images/casarim/background.png');
        
        
        
        .logocima{
            height: 30vh;
            
            
        }
    }
    
    .start-site {
        overflow-y: hidden;
        .p-text1 {
        font-size: 11px;
        height: auto;
        width: auto;
        padding-bottom: 3vh;
        overflow-y: hidden;
        overflow-x: hidden;}

         .h1-top{
            font-size: 18px;
            padding-bottom: 3vh;
         }
    }

    .buttons-middle{
        display: flex;
        flex-direction: column;
       
    }

    .middle-site .buttons{
        border-radius: 20px;
        width: 290px;
        height: auto;
        margin-bottom: 10px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    

    .meio{

        .h1-meio{
            font-size: 18px;
            padding-top: 3vh;
        }

        .pmeio{
            font-size: 11px;
            
        }
    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 80vh;
        overflow-y: hidden;

        .h5-midle{
            font-size: 14px;
        }

        .p-midle{
            font-size: 11px;
            overflow-y: hidden;
            height: 15vh;
        }
        
        .texts-notebook{
            height: auto;
            align-items: center;
            padding-top: 9vh;
            margin-right: 12vh;
            
        }

        .one-midle{
            height: 50vh;
            overflow-y: hidden;
            padding-bottom: 12vh;
        }

        .secon-midle{
            height: 50vh;
            overflow-y: hidden;
            padding-bottom: 9vh;
        }
        .third-midle{
            height: 50vh;
            overflow-y: hidden;
            
        }
    }

    .container-clipboard{
        .h1-meio{
            font-size: 18px;
        }

        .pmeio{
            font-size: 11px
        }
    }

    .h1-down1{
        font-size: 18px;
        
    }


    .container-advantages{
        height: auto;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .logos{
        display: flex;
        flex-direction: column;
    }

    .h5-midle{
        font-size: 18px;
        overflow-y: hidden;
        margin-bottom: 6vh;
    }

    .p-midle{
        font-size: 11px;
        padding-bottom: 10vh;
    }

    .blacklist{
        overflow-x: hidden;
        
    }
    

    .logos{
        display: flex;
        flex-direction: column;
        height: auto;

        .logogoogle,.logoibm,.logomicrosoft,.logohp{
            padding-bottom: 8vh;
        }
    }

    .pdown{
        font-size: 11px;
    }

    .middle-site{
        height: 28vh;
        padding-top: 4vh;
    }

    .footer-content{
        height: 60vh;
        display: flex;
        flex-direction: column;
    }

    .footer-content .logo-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
    }

    .logo-links{
        padding-right: 8vh;
    }

    .footer-content .contact-faq {
        padding-left: 3rem;
    }

    .install, .privacy-press{
        padding-left: 0;
    }

    .container-clipboard{
        height: 70vh;
    }


    .socials{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-top: 5vh;
       
    }
}   
///RESPONSIVE TABLET
@media screen and (min-width:763px) and (max-width:1023px){
   .header-section{
    background-image: url('../../images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   }
}

///RESPONSIVE DESKTOP
@media screen and (min-width:1023px) {
   .footer-content{
    display: flex;
   }
}   